.historial-recoleccion-container {
  width: 100%;
}

.card h4 {
  font-weight: bold;
}

hr {
  border: none;
  border-top: 2px solid #0d6efd;
  width: 100%;
}

button {
  min-width: 120px;
}

.historial-recoleccion-container {
  width: 100%;
}

.print-icon:hover {
  color: #0d6efd;
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
}

.card h5 {
  color: #333;
}

.historial-recoleccion-container {
  width: 100%;
}

.is-invalid {
  border-color: #dc3545 !important;
}

.invalid-feedback {
  display: block;
  font-size: 0.85rem;
}

.w-100 {
  min-width: 200px;
}

.w-50 {
  max-width: 400px;
}

.gap-5 {
  gap: 3rem !important; /* Espacio considerable entre tablas */
}

.table-scroll {
  max-height: 360px;
  overflow-y: auto;
}

/* ===== HEADER NEGRO ===== */
.sticky-head th {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #000;   /* negro */
  color: #fff;              /* texto blanco */
  font-weight: 600;
  border-color: #2c2c2c;
}

/* ===== TABLA BLANCA ===== */
.custom-table {
  background-color: #fff;
}

.custom-table tbody tr {
  background-color: #fff;
}

.custom-table tbody tr:hover {
  background-color: #f2f2f2;  /* hover suave */
}

/* bordes suaves */
.custom-table th,
.custom-table td {
  border-color: #e0e0e0;
}

/* icon */
.print-icon {
  font-size: 18px;
}
