# ======================================================
# VARIABLES DE ENTORNO Y CREDENCIALES
# ======================================================

**/.env
**/.env.*
!**/.env.example

# ======================================================
# DEPENDENCIAS
# ======================================================

**/node_modules/

# ======================================================
# ARCHIVOS GENERADOS
# ======================================================

**/dist/
**/build/
**/coverage/

# ======================================================
# REGISTROS TEMPORALES
# ======================================================

*.log
npm-debug.log*
.DS_Store
Thumbs.db

# ======================================================
# EDITORES
# ======================================================

.vscode/
.idea/